.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
}

.loader-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

.loader-dog {
    width: 150px;
    height: auto;
    animation: bounce 1s infinite alternate ease-in-out;
}

.loader-text {
    margin-top: var(--spacing-md);
    color: var(--color-primary);
    font-family: var(--font-display);
    font-size: 1.5rem;
    letter-spacing: 1px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}